@font-face {
  font-family: 'Eina02';
  src: url('../assets/fonts/Eina02-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

$eina02-fontfamily: 'Eina02', sans-serif;
  
  /* A continuación, puedes agregar estilos globales para utilizar la fuente */
  body {
    font-family: $eina02-fontfamily;
  }